*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #090873;
    --color-secondary: #9400d3;
    --color-text: #fff;
    --color-text-secondary: #000000;

    
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(220, 218, 229);
}

h1{
    font-weight: 800;
}

h2{
    font-size: 4rem;
    font-weight: 400;
}

p{
    color: #DCDCDC;    
}


